{% extends 'home.html' %}

{% block title %}Personel Talep Listesi{% endblock %}

{% block content %}

<h1 class="text-primary">Personel Talep Listesi</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Lokasyon</th>
                <th>Organizasyon</th>
                <th>Görev Adı</th>
                <th>Talep Nedeni</th>
                <th>Kadro Durumu</th>
                <th>Çalışma Türü</th>
                <th>Alınacak Kişi Sayısı</th>
                <th>Oluşturulma Tarihi</th>
                <th>Sorumlu İnsan Kaynakları Personeli</th>
                <th>Aday Ata</th>
                <th>Detay</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.location }}</td>
                <td>{{ task.organization }}</td>
                <td>
                    {% if task.position_name %}
                        {{ task.position_name.position }}
                    {% elif task.new_position_name %}
                        {{ task.new_position_name }}
                    {% else %}
                        No position specified
                    {% endif %}
                </td>
                <td>{{ task.request_reason }}</td>
                <td>{{ task.position_type }}</td>
                <td>{{ task.work_type }}</td>
                <td>{{ task.desired_personnel_count }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    {% for profile in profiles %}
                        {% if profile.Location == task.location%}
                            {{ profile.user.first_name}} {{profile.user.last_name}}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'assign_candidates' job_request_id=task.pk %}" class="btn btn-warning btn-sm">Aday Ata</a>
                </td>
                <td>
                    <a href="{% url 'task_request_detail' task.pk %}" class="btn btn-info btn-sm">Detay</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center">Henüz bir talep eklenmemiş.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
