{% extends 'home.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="text-primary fw-bold m-0">{{ candidate.name }} {{ candidate.surname }} için Referans Ekle</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Aday Olunan Pozisyon</label>
                            <input type="text" name="desired_position" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Referans Sonucu</label>
                            <input type="text" name="reference_outcome" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Tarih</label>
                            <input type="date" name="date" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Bilgi Alanın Adı - Soyadı</label>
                            <input type="text" name="info_retriever_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Referans Adı</label>
                            <input type="text" name="reference_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Referansın Telefonu</label>
                            <input type="tel" name="reference_phone" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Referansın Kurumu</label>
                            <input type="text" name="reference_company" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Referansın Unvanı</label>
                            <input type="text" name="reference_title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Referansın Adaya Yakınlık Derecesi</label>
                            <input type="text" name="refereance_relation_to_candidate" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Şirketinizde toplam çalışma süresi</label>
                            <textarea name="work_duration_with_company" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Sizinle beraber çalışma süresi</label>
                            <textarea name="work_duration_with_referee" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Bu süre içerisindeki ünvanı ,temel görev ve sorumlulukları</label>
                            <textarea name="duties" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Çalışma süresi esnasında gösterdiği ilerleme</label>
                            <textarea name="advancements" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>İş bilgisi , disiplini , ciddiyeti</label>
                            <textarea name="dicipline" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Kişiliğinin güçlü yönleri</label>
                            <textarea name="strengths" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Geliştirmesi gerektiğini düşündüğünüz yönleri</label>
                            <textarea name="areas_for_improvement" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>MDisiplin suçu oluşturulabilecek herhangi bir şikayet veya iç soruşturma yaşanıp yaşanmadığı</label>
                            <textarea name="major_error" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Sorumluluk alma ve yerine getirme kabiliyeti</label>
                            <textarea name="responsibility" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ayrılma Sebebi</label>
                            <textarea name="reason_for_leaving" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Yeniden kendisi ile çalışır mısınız?</label>
                            <textarea name="would_work_again" class="form-control" rows="2" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Eklemek istedikleriniz</label>
                            <textarea name="further_explanation" class="form-control" rows="2" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Referans Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}